<h1 class="text-center" style="color: black">About</h1>
<hr>
<h2>Our Roots</h2>
<p>We've been around for 15 years specializing in x. Our company was founded back in 1992 with a grand vision in helping others in mind.</p>
<h2>Quality</h2>
<p>The finest tools at the best prices. We cut out the middlemen with our in-house created products. High quality craftsmenship goes into our products.</p>
