<h1>Frequently Asked Questions</h1>
<hr>

<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Will there be instructions included?</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Yes. All our products come with an assembly guide. Some have quick-start guides, but we highly recommend you check the full guide before assembly and use. </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Will tools be provided?</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>No. Most of our products can be build with a standard screwdriver. Some might require larger or smaller iterations but we will indicate that on our website when necessary.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who made this website?</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>An aspiring web developer named Steve Chen. He's looking for work so feel free to contact him at stevechenweb@gmail.com</p>
            </div>
        </div>
    </div>
</div>