<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<% @products.each do |product| %>
    <div class="item<%= " active" if product == @products.first %>">
      <%= image_tag(product.image_url) %>
      <div class="carousel-caption">
      	<%= product.name %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div>
  <h2>Mission Statement</h2>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur odio dolor, sit amet rutrum neque tincidunt ac. Nulla molestie, dui ac ornare porta, libero diam consequat diam, non interdum est urna eget ipsum. Curabitur nec lectus quis nulla sollicitudin cursus. Etiam eu ipsum ac nisi imperdiet tempus. Nullam suscipit orci ac libero semper ullamcorper. Aliquam aliquet sapien leo, nec maximus magna luctus eget. Nunc commodo lorem mattis, faucibus quam fringilla, euismod urna. Etiam sollicitudin nisl mauris, nec maximus justo feugiat ut.

Maecenas dictum tincidunt tortor ut elementum. Nulla pretium arcu vel tellus imperdiet, sit amet porta justo tincidunt. Donec tincidunt turpis eu purus ullamcorper iaculis. Maecenas eu lectus a orci cursus fringilla. Proin vel justo mollis, consequat nisl sit amet, aliquam mi. Suspendisse molestie purus et est rutrum sagittis. Proin sed tincidunt quam, sit amet semper felis. Ut tempor tempor enim, ut scelerisque ipsum hendrerit et. Proin varius mi tellus, dictum luctus diam mollis vel. Nulla consectetur lacus vitae tellus porttitor finibus. Sed a ex imperdiet, dapibus risus at, dignissim augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
</div>

<div class="row">
  <div class="col-lg-4 text-center">
    <div class="glyphicon glyphicon-saved" style="font-size: 35px;
    margin-top: 20px;"></div>
    <h3>Quality</h3>
    <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mollis arcu. Phasellus euismod non tortor vel posuere. Sed luctus tristique elementum. Proin id dolor scelerisque, ornare est id, sagittis arcu. Duis eget mauris porttitor, tincidunt orci ac, aliquam felis. Fusce dapibus tincidunt neque, eu dapibus diam faucibus a. Vivamus eu dui commodo, pellentesque sapien non, rhoncus mi.</p>
  </div>
  <div class="col-lg-4 text-center" style="font-size: 35px;
    margin-top: 20px;">
    <div class="glyphicon glyphicon-chevron-right"></div>
    <h3>Affordable</h3>
    <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mollis arcu. Phasellus euismod non tortor vel posuere. Sed luctus tristique elementum. Proin id dolor scelerisque, ornare est id, sagittis arcu. Duis eget mauris porttitor, tincidunt orci ac, aliquam felis. Fusce dapibus tincidunt neque, eu dapibus diam faucibus a. Vivamus eu dui commodo, pellentesque sapien non, rhoncus mi.</p>
  </div>
  <div class="col-lg-4 text-center">
    <div class="glyphicon glyphicon-plane" style="font-size: 35px;
    margin-top: 20px;"></div>
    <h3>Fast</h3>
    <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mollis arcu. Phasellus euismod non tortor vel posuere. Sed luctus tristique elementum. Proin id dolor scelerisque, ornare est id, sagittis arcu. Duis eget mauris porttitor, tincidunt orci ac, aliquam felis. Fusce dapibus tincidunt neque, eu dapibus diam faucibus a. Vivamus eu dui commodo, pellentesque sapien non, rhoncus mi.</p>
  </div>
</div>
