<p>Order has been successfully created! Thank you for your purchase. Your payment was successful! Here's your product details:</p>
<p><strong>Name:</strong> <%= @product.name %></p>
<p><strong>Color:</strong> <%= @product.colour %></p>
<p><strong>Price:</strong> <%= @product.price %></p>
<p>Print this page for your records. <%= link_to "Click here", products_path %> to go back to the Products page</p>