// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-center{
	text-align: center;
}
table {
	border: solid;
}
.item-center {
	margin: 0 auto;
}
td {
	padding: 5px;
}