// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-name{
  padding-left: 15px;
}
.feature-list{
  list-style:none;
  padding-left:0;
}
.text-center{
	text-align: center;
}
.side-padding{
  padding-left: 15px;
  padding-right: 15px;
}

table {
	border: solid;
}
.item-center {
	margin: 0 auto;
}
td, th {
	padding: 5px;
}
