// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-active{
  max-height: 600px; //  Should match with .carousel-inner height
}

.carousel-inner{
   width: 100%; 
   height: 600px; 
   margin: 0 auto;
}