<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="upper">
      <div class="logo col-md-2">
        <h1>LOGO</h1>
      </div>
      <div class="motto col-md-10">
          <p>Welcome to our eCommerce store. Specializing in x, y and z.</p>
      </div>
    </div>
    <div class="lower">
    </div>
  </header>

  <div>
  	<h1>Welcome to Store name</h1>
  	<h2>Your source for used bikes in Berlin</h2>
  </div>

  <%= yield %>

  <footer>
    footer
  </footer>
</div>

</body>
</html>
